<div class="container px-5 my-5 px-sm-0 my-sm-0">
  <div class="row">
    <h4 class="mt-5 text-center", style="background-color: #eee; width:200px; padding-left: 8px; margin-bottom: 40px;"><b>マイページ</b></h4>
  </div>
  <div class="row">
    <!--会員情報-->
    <%= render 'my_page', customer: @customer, link: "レビュー一覽" , url: customer_path(@customer.id) %>

    <!--投稿した場・ギア-->
    <%= render 'camp', camps: @camps, gears: @gears %>
  </div>
</div>