<div class="border border-dark text-center">
  <b>エリア検索</b>
</div>
<div class="border border-dark">
  <% areas.each do |area| %>
    <p>
      <%= link_to camp_search_path(area_id: area.id) do %>
        <%= area.name %>
      <% end %>
    </p>
  <% end %>
</div>