<div class="container">
  <div class="row">
    <h5 class='mx-5 my-5 text-center', style="background-color: #eee; width:200px; padding-left: 10px; margin-bottom: 40px;"><b>エリア編集</b></h5>
  </div>
  <%= render "form", resource: @area, model: @area, url: admin_area_path, name: "エリア名" %>
</div>