@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'homes.scss';

.notifications {
  color: $white;
  text-align: center;

  .notice {
    background-color: #38e29b;
  }

  .alert {
    background-color: red;
  }
}