@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'homes.scss';

.notifications {
  color: $white;
  text-align: center;

  .notice {
    background-color: #38e29b;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }

  .alert {
    background-color: red;
  }
}