.top-bg{
  background-image: url('../../assets/images/top.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: inline !important;
  }

  .navbar-nav{
    float: right !important;
  }
}
