<div class="container">
  <div class="row">
    <h5 class='mx-5 my-5 text-center', style="background-color: #eee; width:200px; padding-left: 10px; margin-bottom: 40px;"><b>カテゴリ編集</b></h5>
  </div>
  <%= render "admin/areas/form", resource: @category, model: @category, url: admin_category_path, name: "カテゴリ名" %>
</div>